@font-face {
    font-family: 'ModernMTStd-Extended';
    src: url('/fonts/modernmtstdextended.eot');
    src: url('/fonts/modernmtstdextended.eot?#iefix') format('embedded-opentype'),
         url('/fonts/modernmtstdextended.woff') format('woff'),
         url('/fonts/modernmtstdextended.ttf') format('truetype'),
         url('/fonts/modernmtstdextended.svg#modernmtstdextended') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ModernMTStd-ExtendedItalic';
    src: url('/fonts/modernmtstdextendeditalic.eot');
    src: url('/fonts/modernmtstdextendeditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/modernmtstdextendeditalic.woff') format('woff'),
         url('/fonts/modernmtstdextendeditalic.ttf') format('truetype'),
         url('/fonts/modernmtstdextendeditalic.svg#modernmtstdextendeditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}