// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-deliah {
  background-image: url("../img/deliah-poster.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.section-music {
  background-image: url("../img/music-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 50px;
  padding-bottom: 70px;

  @media (min-width: 48em) {
    padding-top: 163px;
  }
}

.section-live {
  background-image: url("../img/live-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.section-about {
  background-image: url("../img/about-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.section-content {
  height: 100%;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;

  @media (min-width: 48em) {
    width: 50%;
    float: right;
    border-top: 1px solid #fff;
  }
}
